:root {
  --breakpoint-micro: 240px;
  --breakpoint-xxs: 320px;
  --breakpoint-xs: 480px;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-xxl: 1440px;
  --breakpoint-mega: 2000px;

  --error: #b8343a;
  --error-light: #f9d6d2;
  --warning: #f7a25d;
  --warning-light: #f9e3d0;
  --success: #0f7173;
  --success-light: #d5f0f0;
  --link: #12657c;
  --link-light: #d5e3f7;
  --info: var(--link-light);
  --white: #fff;
  --black: #000;
  --gray: #dedede;
  --gray-dark: #b6b6b6;

  --primary: var(--link);
  --primary-light: var(--link-light);
  --secondary: var(--success);
  --secondary-light: var(--success-light);
  --tertiary: var(--warning);
  --tertiary-light: var(--warning-light);

  --line-height-single: 1;
  --line-height-base: 1.3;
  --line-height-tight: 1.1;
  --line-height-loose: 1.5;

  --vertical-spacing: 80px;
  --vertical-spacing-mobile: 40px;

  --border-radius-1: 4px;
  --border-radius-2: 8px;
  --border-radius-3: 12px;

  --gap-micro: 4px;
  --gap-xxs: 16px;
  --gap-xs: 20px;
  --gap-sm: 32px;
  --gap-md: 40px;
  --gap-lg: 52px;
  --gap-xl: 72px;
  --gap-xxl: 84px;
  --gap-mega: 120px;
}

.gap-none {
  gap: 0;
}

.gap-micro {
  gap: var(--gap-micro);
}

.gap-xxs {
  gap: var(--gap-xxs);
}

.gap-xs {
  gap: var(--gap-xs);
}

.gap-sm {
  gap: var(--gap-sm);
}

.gap-md {
  gap: var(--gap-md);
}

.gap-lg {
  gap: var(--gap-lg);
}

.gap-xl {
  gap: var(--gap-xl);
}

.gap-xxl {
  gap: var(--gap-xxl);
}

.gap-mega {
  gap: var(--gap-mega);
}
